[
  {
    "operation": "LOAD",
    "outputTag": "dataset1",
    "datasetDirectoryPath": "hdfs://dtim:27000/user/bochileanu/described_datasets/{{dataset_name}}"
  },
  {
    "operation": "PROJECT",
    "inputTag": "dataset1",
    "outputTag": "projectedDataset1",
    "columnSelectivityFactor": {{column_selectivity_factor}}
  }
]
